@media (max-width: 767px) {
  .section__grid {
    grid-template-columns: 1fr;
  }
  .card__slider-arrow {
    display: none;
  }
  .card__price {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  .card:hover .card__slider-description {
    display: unset;
  }
  .card__price-button {
    display: none;
  }
  .card:hover .card__price-button {
    display: flex;
  }
  .card:hover .card__slider-description {
    display: block;
  }
}